 body{
            background-color: #232323;
            margin:0px;
            font-family: "Montserrat","Avenir";
            
        }
        h1{
            color:aliceblue;
            text-align: center;
            margin:0px;
            font-weight:normal;
            text-transform: uppercase;
            background-color: steelblue;
        }
        .square{
            width:30%;
            padding-bottom: 30%;
            background-color: purple;
            margin:1.66%;
            float:left;
            border-radius:20px;
            transition: background 0.7s;
            -webkit-transition:background 0.7s;
            -moz-transition:background 0.7s;
            
        }
        #container{
            max-width: 600px;
            margin:20px auto;
            
            
        }
        
        #stripe{
            background-color: aliceblue;
            height:30px;
            text-align: center;
            color:black;
        }
        .selected{
            
            background-color: blue;
            
            color:white;
            background-color: steelblue;
        }
            
        #color{
            font-size:50px;
            
        }
        button{
            border:0px;
            background-color:white;
            text-transform: upercase;
            height:100%;
            font-weight:700;
            color:steelblue;
            letter-spacing: 1px;
            outline:none;
            
        }
        #message{
            display:inline-block;
            width:20%;
        }
        button:hover{
            color:white;
            background-color: steelblue;
            transition:all 1.0s;
            -webkit-transition:background 1.0s;
            -moz-transition:background 1.0s;
        }